@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.custom-section{
    top: -95px;
}
.custom-m{
    padding: 330px 0 ;
}
.custom-p{
    padding: 200px 0 ;
}